.forward .slide-enter {
  position: absolute;
  transform: translateX(100%);
}

.forward .slide-enter-active {
  transform: translateX(0%);
  transition: transform 325ms linear;
}

.forward .slide-exit {
  transform: translateX(0%);
}

.forward .slide-exit-active {
  transform: translateX(-100%);
  transition: transform 325ms linear;
}

.backward .slide-enter {
  position: absolute;
  transform: translateX(-100%);
}

.backward .slide-enter-active {
  transform: translateX(0%);
  transition: transform 325ms linear;
}

.backward .slide-exit {
  transform: translateX(0%);
}

.backward .slide-exit-active {
  transform: translateX(100%);
  transition: transform 325ms linear;
}
